<div id='content'>
  <script type="text/javascript">
    document.getElementById("upload_widget_opener").addEventListener("click", function() {

      cloudinary.openUploadWidget({ cloud_name: 'paintr', upload_preset: 'a5vxnzbp'},
        function(error, result) { console.log(error, result) });

    }, false);
  </script>

  <div id="upload_widget_opener"><p>Upload Thine image, Sir!</p></div>
</div>
