 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .jumbotron {
   text-align: center;
 }

 li {
   float: left;
 }

 .transparent-div {
   background: url('starry_night_small.jpg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   opacity: 0.4;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   position: fixed;
   z-index: -1;
 }

 .extra-margin-bottom {
   margin-bottom: 90px;
 }
