 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .jumbotron {
   text-align: center;
 }

 .photo-index-item {
   float: left;
   list-style-type: none;
 }

 .photo-detail li {
   float: none;
   list-style-type: none;
  //  display: block;
  //  content: "";
  //  clear:both;
 }

 .photo-detail img {
  //  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   height: 81vh;
 }

 .transparent-div {
   background: url('starry_night_small.jpg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   opacity: 0.4;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   position: fixed;
   z-index: -1;
 }

 .extra-margin-bottom {
   margin-bottom: 90px;
 }

 .photo-detail {
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
   text-align: center;
 }
