div.transparent-div {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.starry_night { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289968/starry_night_small_s0vs3x.jpg'); }
.artist-facing-blank-canvas { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289920/artist-facing-blank-canvas_lml9ve.jpg'); }
.autumn_landscape { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289932/autumn_landscape_ll7ioa.jpg'); }
.boat-sea-landscape { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289931/boat-sea-landscape_fscirp.jpg'); }
.Creation_of_Adam { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289937/Creation_of_Adam_keeabx.jpg'); }
.Eckenbrecher { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289963/Eckenbrecher_ymesqj.jpg'); }
.Freedom_from_want { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289933/Freedom_from_want_i27jtx.jpg'); }
.jeff-watts1 { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289920/jeff-watts1_aesi9c.jpg'); }
.jeff-watts2 { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289947/jeff-watts2_awsjam.jpg'); }
.landscape { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289949/landscape_fyfilh.jpg'); }
.landscape2 { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289938/landscape2_s2cxps.jpg'); }
.landscape3 { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289938/landscape3_ybea3r.jpg'); }
.marshes-painting { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289947/marshes-painting_mlojht.jpg'); }
.melting-clocks { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289938/melting-clocks_hwccta.jpg'); }
.modern-art { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289953/modern-art_dhuwsx.jpg'); }
.Mona_Lisa { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289944/Mona_Lisa_tourv6.jpg'); }
.painting-background { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289946/painting-background_decuj7.jpg'); }
.painting-background2 { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289965/painting-background2_n42tfi.jpg'); }
.paintings_fences { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289969/paintings_fences_qhcpyq.jpg'); }
.picasso { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289949/picasso_tafbqr.jpg'); }
.school-of-athens { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289954/school-of-athens_toblxl.jpg'); }
.Summer-Days { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289961/Summer-Days_qmvsgx.jpg'); }
.water-color { background: url('http://res.cloudinary.com/paintr/image/upload/v1445289963/water-color_xnnelp.jpg'); }
