div.photo-detail-background {
  background: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.photo-index-item {
  list-style-type: none;
  margin: 5px;
  box-shadow: 3px 2px 2px black;
  opacity: 0.95;
  border: 1px solid #111;
}

.photo-upload-item {
  margin: 5px;
  box-shadow: 3px 2px 2px black;
  border: 1px solid #111;
}

.photo-detail {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.photo-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.photo-detail li {
  color: lightgrey;
  float: none;
  list-style-type: none;
}

.photo-detail img {
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65vh;
  box-shadow: 2px 1px 1px black;
}

.photo-detail-footer {
  position: fixed;
  bottom:5px;
  right:5px;
  a {
    color: cornflowerblue;
    padding: 10px;
  }
  a:hover {
    color: forestgreen;
  }
}

.photo-index-item:hover {
  opacity: 1;
  border: 1px solid #246
}

.delete-photo {
  float: right;
}
